/* services-section.component.scss */
@import '../../../variables';
$gradient-start: #FFFFFF;
$gradient-end: #D3D3D3;

.services-container {
  background: linear-gradient(to bottom, #FFFFFF, #D3D3D3);
  //border: 1px solid #00A86B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  padding: 2rem;
  margin: 1rem auto;
  //max-width: 1200px;
  .services-header {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2.5rem;
      color: $text-color;
      // Adicione a propriedade 'font-weight' se desejar um peso de fonte específico
    }

    p {
      font-size: 1.25rem;
      color: $text-color;
      // Use span para partes do texto que precisam de uma cor diferente
    }
    .highlight {
      color: $primary-color;
    }

  }

  .services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .service-card {
    background: #fff;
    border: 1px solid #00A86B;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    flex: 1;
    justify-content: space-between;

    .icon-container {
      //background: rgba(0, 0, 0, 0.05);
      padding: 1rem;
      border-radius: 50%;
      margin-bottom: 1rem;

      img {
        width: 70px;
        height: auto;
      }
    }

    h3 {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
      color: $text-color;
    }

    p {
      font-size: 1rem;
      color: $text-color;
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: translateY(-5px);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  }
}

@media (max-width: 768px) {
  .services-container {
    padding: 1rem;
    border: none;
  }

  .services-list {
  }
  .service-card {
    width: 100%;
  }
}
