<div class="main-banner">
  <div class="banner-background"></div>
  <div class="content">
    <div class="welcome-text">
      <h1>Bem-vindo ao <span>Spring Bank</span></h1>
      <p>Seu parceiro financeiro de confiança.</p>
    </div>
    <div class="cta-container">
      <h2>Peça sua conta e cartão de crédito do <span>Spring Bank</span></h2>
      <form [formGroup]="cpfForm" (ngSubmit)="goToDetailsForm()">
        <input type="text" formControlName="cpf" mask="000.000.000-00" inputmode="numeric" placeholder="123.456.789-10">
        <button type="submit" [disabled]="!cpfForm.valid">Continuar</button>
      </form>
    </div>
  </div>
</div>
