<!-- header.component.html -->
<nav class="navbar">
  <div class="top-header">
    <div class="logo-container">
      <img alt="Spring Bank Logo" class="logo" routerLink="/" src="assets/logo.png">
    </div>
    <button (click)="toggleNav()" class="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div [class.active]="navActive" class="nav-links">
    <a routerLink="/">Início</a>
    <a href="#services">Serviços</a>
    <a href="#about">Sobre nós</a>
  </div>
  <button [class.active]="navActive" class="login-button">Login</button>
</nav>
