<div class="registration-form">
  <h2>Criar Nova Conta</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <label for="cpf">CPF</label>
    <input type="text" id="cpf" formControlName="cpf" mask="000.000.000-00" inputmode="numeric">

    <label for="accountHolderName">Nome Completo</label>
    <input type="text" id="accountHolderName" formControlName="accountHolderName">

    <div formGroupName="chavePix">
      <label>Escolha uma Chave Pix</label>
      <div class="chave-pix-options">
        <label class="radio-option">
          <input type="radio" formControlName="type" value="cpf"> CPF
        </label>
        <label class="radio-option">
          <input type="radio" formControlName="type" value="telefone"> Telefone
        </label>
        <label class="radio-option">
          <input type="radio" formControlName="type" value="email"> Email
        </label>
        <label class="radio-option">
          <input type="radio" formControlName="type" value="aleatoria"> Chave Aleatória
        </label>
      </div>

      <input *ngIf="chavePixType?.value === 'telefone'" type="text" formControlName="valor" mask="+00 (00) 00000-0000">
      <input *ngIf="chavePixType?.value === 'email'" type="email" formControlName="valor">
    </div>

    <button type="submit" [disabled]="!registrationForm.valid">Cadastrar</button>
  </form>
</div>
