<!-- register-form.component.html -->
<div class="registration-form">
  <h2>Criar Nova Conta</h2>
  <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">

    <label for="cpf">CPF</label>
    <input type="text" id="cpf" name="cpf" [(ngModel)]="user.cpf" required>

    <label for="accountHolderName">Nome Completo</label>
    <input type="text" id="accountHolderName" name="accountHolderName" [(ngModel)]="user.accountHolderName" required>

    <label for="chavepix">Escolha uma Chave Pix</label>
    <input type="text" id="chavepix" name="chavepix" [(ngModel)]="user.chavePix" required>

    <!-- Add additional fields as necessary -->

    <button type="submit" [disabled]="!registrationForm.valid">Cadastrar</button>
  </form>
</div>
